@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Font settings */
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  /* Color scheme and global colors */
  color-scheme: light;
  color: var(--color-text); /* Text color */
  background-color: var(--color-secondary); /* Background color */

  /* Accent color */
  --accent-color: var(--color-accent);

  /* Font rendering optimizations */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
