:root {
    --primary-bg: #ffffff;
    --primary-color: #333333;
    --hover-bg: #f0f0f0;
    --dark-bg: #333333;
    --dark-color: #ffffff;
    --transition: all 0.3s ease;
}

body[data-theme="dark"] {
    --primary-bg: #333333;
    --primary-color: #ffffff;
    --hover-bg: #444444;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--primary-bg);
    color: var(--primary-color);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-bg);
    padding: 10px 20px;
    border-bottom: 1px solid var(--hover-bg);
}

.menu {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu>li
.mobile-menu>li {
    position: relative;
    margin: 0 10px;
}

.menu>li>a,
.mobile-menu>li>a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 8px 12px;
    border-radius: 4px;
    transition: var(--transition);
}

.menu>li>a:hover,
.mobile-menu>li>a:hover {
    background-color: var(--hover-bg);
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--primary-bg);
    border: 1px solid var(--hover-bg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    list-style: none;
    padding: 10px 0;
    margin: 0;
}

.submenu li {
    position: relative;
}

.submenu li a {
    display: block;
    padding: 30px 30px;
    text-decoration: none;
    color: var(--primary-color);
    transition: var(--transition);
}

.submenu li a:hover {
    background-color: var(--hover-bg);
}

.submenu .submenu {
    top: 0;
    left: 100%;
}

.menu>li:hover>.submenu,
.mobile-menu>li:hover>.submenu,
.submenu>li:hover>.submenu {
    display: block;
}

.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    background-color: var(--primary-color);
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: var(--primary-bg);
    margin: 4px 0;
    transition: var(--transition);
}

.mobile-menu {
    display: none;
    flex-direction: column;
    top: 3rem;
    background-color: var(--primary-bg);
    border-top: 1px solid var(--hover-bg);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
    left: 0;
    width: 150px;
    height: 90%;
}

@media (max-width: 768px) {
    .menu {
        display: none;
    }

    .hamburger {
        display: flex;
    }
    
    .mobile-menu {
        display: none;
        position: absolute;
    }
    .mobile-menu.open {
        display: flex;
    }

    /* .mobile-menu li {
        border-bottom: 1px solid var(--hover-bg);
    }

    .mobile-menu li a {
        padding: 10px 20px;
        text-decoration: none;
        color: var(--primary-color);
    } */
}

.theme-toggle {
    background: none;
    border: none;
    cursor: pointer;
    color: var(--primary-color);
    font-size: 1.2em;
    transition: var(--transition);
}